body {
    font-family: 'Rubik', sans-serif;
}

.row {
    display: flex;
    justify-content:flex-start;
    vertical-align: middle;
}

.row .row-justify {
    justify-content: space-between;
}

.column-2 {
    display: inline-flex;
    width: 50%;
    bottom: 0;
}
