<link rel='stylesheet' href='/stylesheets/form.css' />
<title>Ad Hoc Report Request</title>
<form id="ad-hoc"" enctype="text/plain" action="/submit" method="post">
    <!-- Header -->
    <div class="form-header">
        <p><span id="form-title">{{ title }}</span></p>
        <div class="row row-justify">
            <div id="form-subtitle" class="column-2"><span>Request a report</span></div>
            <div id="indicate-required-field" class="column-2"><span class="required">Indicates Required Fields</span></div>
        </div>
    </div>
    <!-- success/fail -->
    <section class="outcome">
        {{# if success}}
            <section class="success">
                <h2>Report Submitted</h2>
                <p>Thank you from the Payroll Systems Team!</p>
            </section>
        {{ else if errors }}
            <section class="errors">
                <ul>
                    {{# each errors }}
                    <li>{{ msg }}</li>
                    {{/ each }}
                </ul>
            </section>
        {{/ if }}
    </section>
    <!-- Sect 1 -->
    <div class="fieldset-number">1</div>
    <fieldset>
        <legend>Name &amp; Email</legend>
        <section class="contents">
            <div class="row label-input-pair">
                <label for="user-name" class="required">Name:</label>
                <input autofocus name="user-name" placeholder="Your Name" type="text" id="user-name" required >
            </div>
            <div class="row label-input-pair">
                <label for="user-email" class="required">Email:</label>
                <input name="user-email" placeholder="your-email@lithia.com" type="text" id="user-email" required>
            </div>
        </section>
    </fieldset>
	<!-- Sect 2 -->
    <div class="fieldset-number">2</div>
    <fieldset>
        <legend>Division</legend>
        <section class="contents">
            <input name="REPORT TYPE:" type="checkbox" value="All Stores" class="iType" checked>All
            <input name="REPORT TYPE:" type="checkbox" value="Lithia" class="iType">Lithia
            <input name="REPORT TYPE:" type="checkbox" value="DCH" class="iType">DCH
            <input name="REPORT TYPE:" type="checkbox" value="Carbone" class="iType">Carbone
            <input name="REPORT TYPE:" type="checkbox" value="DiMar" class="iType">DiMar
        </section>
    </fieldset>
	<!-- Sect 3 -->
    <div class="fieldset-number">3</div>
	<fieldset>
        <legend>Input Single Date or Date Range</legend>
        <section class="contents row row-justify">
            <div class="column-2 label-input-pair">
                <label for="from-date" class="required">From:</label>
                <input name="from-date" type="date" id="iBeginDate" required>
            </div>
            <div class="column-2 label-input-pair">
                <label for="to-date">To:</label>
                <input name="to-date" type="date" id="iEndDate">
            </div>
        </section>
	</fieldset>
    <!-- Sect 4 -->
    <div class="fieldset-number">4</div>
    <fieldset>
        <legend>Frequency</legend>
        <section class="contents">
            <input checked name="FREQUENCY:" type="radio" value="Once" class="iFrequency"> Once - not a routine request<br>
            <input name="FREQUENCY:" type="radio" value="Weekly" class="iFrequency"> Weekly - once per week<br>
            <input name="FREQUENCY:" type="radio" value="Bi-Weekly" class="iFrequency"> Bi-Weekly - every other week<br>
            <input name="FREQUENCY:" type="radio" value="Semi-Monthly" class="iFrequency"> Semi-Monthly - twice per month<br>
            <input name="FREQUENCY:" type="radio" value="Monthly" class="iFrequency"> Monthly - once per month<br>
            <input name="FREQUENCY:" type="radio" value="Quarterly" class="iFrequency"> Quarterly - every 3rd month 4 times per year<br>
            <input name="FREQUENCY:" type="radio" value="Semi-Annual" class="iFrequency"> Semi-Annual - twice per year<br>
            <input name="FREQUENCY:" type="radio" value="Annual" class="iFrequency"> Annual - once per year<br>
        </section>
    </fieldset>
    <!-- Sect 5 -->
    <div class="fieldset-number">5</div>
    <fieldset>
        <legend>Which Employees</legend>
        <section class="contents">
            <input checked name="WHICH EMPLOYEES:" type="radio" value="My Department" class="iEmployees"> My Department<br>
            <input name="WHICH EMPLOYEES:" type="radio" value="My Dealership" class="iEmployees"> My Dealership<br>
            <input name="WHICH EMPLOYEES:" type="radio" value="Only Dealerships" class="iEmployees"> Only Dealerships<br>
            <input name="WHICH EMPLOYEES:" type="radio" value="All Employees" class="iEmployees"> All Employees<br>
            <input name="WHICH EMPLOYEES:" type="radio" value="Only Corporate" class="iEmployees"> Only Corporate<br>
        </section>
    </fieldset>
    <!-- Sect 6 -->
    <div class="fieldset-number">6</div>
    <fieldset>
        <legend>Employee Wage Info</legend>
        <section class="contents">
            <input checked name="WAGE INFO:" type="radio" value="No wage info." class="iWage"> No, I don't need wage info.<br>
            <input name="WAGE INFO:" type="radio" value="Pay end date." class="iWage"> Yes, pay end date.<br>
            <input name="WAGE INFO:" type="radio" value="Paycheck date." class="iWage"> Yes, paycheck date.<br>
        </section>
    </fieldset>
    <!-- Sect 7 -->
    <div class="fieldset-number">7</div>
    <fieldset>
        <legend>Additional Info</legend>
        <section class="contents">
            <label>
                <strong>
                    Add some details about how you'll use the data so we know how to present it:
                </strong>
            </label>
            <textarea cols="65" data-minlength="150" name="MESSAGE:" placeholder="EXAMPLE: This report will help us analyze the relationship between the probability distributions of annual pay within...150 characters minimum." rows="10" id="iMessage"></textarea>
            <br>
        </section>
    </fieldset>
    <!-- Sect 8 -->
    <div class="fieldset-number">8</div>
    <fieldset>
        <legend>Report Due Date</legend>
        <section class="contents">
            <label class="required">When do you want the report by:</label><input name="DUE DATE:" type="date" id="iDueDate">

            <br>
        </section>
    </fieldset>
    <!-- Sect 9 -->
    <div class="fieldset-number">9</div>
    <fieldset>
        <legend>Submit</legend>
        <section class="contents">
            <input type="submit" value="SUBMIT">
        </section>
    </fieldset>
    <span> &copy; Lithia Motors Inc | All Rights Reserved </span>
</form>
